.container{
    text-align: center;
}

body{
    background-color: #041C32;
    font-size: 18px;
    font-family: sans-serif;
}

#myCanvas{
    border: 1px solid black;
    background-color: #ECB365;
}

p{
    color: white;
}
